.landing-meru-betiri-container {
    height: 800px;
    background-color: #ffecd5;
    position: relative;
    background-image: url("../../../../images/meruBetiri/Map BG.svg");
    width: 100%;
    padding-top: 100px;
}

.landing-meru-betiri-container .meru-betiri-hoverable {
    cursor: pointer;
}

.landing-meru-betiri-container .meru-betiri-not-allowed {
    cursor: not-allowed;
    opacity: 0.75;
}

.landing-meru-betiri-container .meru-betiri-hoverable:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.landing-meru-betiri-container .pulauSatu {
    width: 50%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-meru-betiri-container .pulauDua {
    width: 30%;
    height: auto;
    position: absolute;
    top: 75px;
    right: 25px;
    transform: scaleX(-1);
}

.landing-meru-betiri-container .pulauTiga {
    width: 30%;
    height: auto;
    position: absolute;
    top: 25px;
    left: 0;
}
.landing-meru-betiri-container .nala-lari {
    width: 150px;
    height: auto;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-meru-betiri-container .pulauSatu img,
.landing-meru-betiri-container .pulauDua img,
.landing-meru-betiri-container .pulauTiga img,
.landing-meru-betiri-container .nala-lari img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 1024px) {
    .landing-meru-betiri-container .pulauSatu {
        width: 50%;
    }

    .landing-meru-betiri-container .pulauDua {
        width: 40%;
    }

    .landing-meru-betiri-container .pulauTiga {
        width: 40%;
    }
}

@media only screen and (max-width: 578px) {
    .landing-meru-betiri-container {
        height: 100vh;
    }

    .landing-meru-betiri-container .pulauSatu {
        width: 400px;
        top: 50%;
    }

    .landing-meru-betiri-container .pulauDua {
        width: 300px;
        top: auto;
        bottom: 10px;
        right: 0;
    }

    .landing-meru-betiri-container .pulauTiga {
        width: 300px;
        top: 25px;
        left: 0;
    }
    .landing-meru-betiri-container .nala-lari {
        width: 100px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
