:root {
    --color-bg: linear-gradient(
        180deg,
        #cdf0ed 4.17%,
        #9991b9 43.23%,
        #ed927b 100%
    );
}

/* html {
    margin: -1rem;
} */

.gradient__bg {
    position: relative;
    background: var(--color-bg);
    height: 2000px;
    display: flex;
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: var(--color-bg);
    height: 214vh; */
}
/* 
.container-meru {
    display: flex;
    position: relative;
    top: 10rem;
} */

.decor-meru {
    position: absolute;
    top: 31.5%;
    left: 0;
    width: 800px;
    z-index: 1;
    transform: translate(0, -50%);
}

.triangle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 1000px;
    /* height: 60vh;
    top: 14rem;
    z-index: -1; */
}

.nala-doorprize {
    position: absolute;
    bottom: 10%;
    right: 10%;
    transform: translate(0, -50%);
    width: 500px;
}

.peralatan {
    display: flex;
    position: absolute;
    top: 65%;
    left: 2.5%;
    transform: translate(0, -50%);
}

.peralatan .cutlery-img {
    margin: 3rem 1rem;
}

.peralatan .number-run {
    margin: 3rem 0.5rem;
}

.peralatan .tumbler img {
    width: 150px;
}

.triangle img,
.decor-meru img,
.nala-doorprize img {
    max-width: 100%;
    max-height: 100%;
}

.jadwal-section {
    position: absolute;
    top: 17.5%;
    left: 20%;
    transform: translate(0, -50%);
    color: #1f576f;
    font-weight: bold;
}

.jadwal-section > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.jadwal-section img {
    width: 30px;
    height: auto;
}

.what-is-section {
    position: absolute;
    right: 5%;
    top: 25%;
    width: 500px;
    transform: translate(0, -50%);
    font-weight: bold;
}

.what-is-section h1 {
    font-size: 4rem;
    color: #9991b9;
    font-family: bobbyjones;
    font-weight: bold;
}

.what-is-section > div {
    color: #1f576f;
}

.what-is-section > div,
.what-is-section h1 {
    margin-bottom: 20px;
    text-align: right;
}

.benefit-section {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

.benefit-section-title {
    font-size: 3.5rem;
    color: #ed927b;
    font-family: bobbyjones, sans-serif;
}

.benefit-section-date {
    color: #40e0d0;
    margin: 15px 0;
}

.benefit-section-desc {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
}

.pulau-satu-button-section {
    position: absolute;
    width: 400px;
    top: 40%;
    right: 5%;
    transform: translate(0, -50%);
    font-family: bobbyjones, sans-serif;
}

.pulau-satu-button-section .meru-betiri-ebook {
    /* cursor: pointer; */
    cursor: not-allowed;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    padding: 50px 0;
    border-radius: 50px;
    height: 75px;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 15px 15px 25px #9991b9;
    color: #9991b9;
    position: relative;
    font-weight: bold;
    margin-bottom: 30px;
}

.pulau-satu-button-section .meru-betiri-reg {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    border-radius: 50px;
    height: 75px;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, #d0c5a9, #9991b9);
    box-shadow: 2px 2px 30px #d0c5a9;
    color: white;
    position: relative;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .gradient__bg {
        height: 1600px;
    }

    .decor-meru {
        top: 33%;
        width: 500px;
    }

    .triangle {
        height: 700px;
    }

    .nala-doorprize {
        bottom: 5%;
        width: 400px;
    }

    .peralatan {
        display: flex;
        position: absolute;
        top: 65%;
        left: 2.5%;
        transform: translate(0, -50%);
        width: 400px;
    }

    .peralatan .cutlery-img {
        margin: 3rem 1rem;
    }

    .peralatan .number-run {
        margin: 3rem 0.5rem;
    }

    .peralatan .tumbler img {
        width: 150px;
    }

    .triangle img,
    .decor-meru img,
    .nala-doorprize img,
    .peralatan img {
        max-width: 100%;
        max-height: 100%;
    }

    .what-is-section {
        width: 400px;
    }

    .what-is-section h1 {
        font-size: 3rem;
    }

    .benefit-section {
        width: 400px;
    }

    .benefit-section-title {
        font-size: 2rem;
    }

    .pulau-satu-button-section {
        width: 350px;
        top: 42.5%;
    }
}

@media only screen and (max-width: 850px) {
    .gradient__bg {
        height: 2000px;
        overflow-x: hidden;
    }

    .decor-meru {
        top: 11.5%;
        width: 800px;
    }

    .triangle {
        top: 30%;
        height: 1000px;
    }

    .nala-doorprize {
        bottom: auto;
        top: auto;
        bottom: 5%;
        right: auto;
        left: 0;
    }

    .peralatan {
        top: 42.5%;
        left: 2.5%;
    }

    .jadwal-section {
        top: 12.5%;
        left: auto;
        right: 10%;
    }

    .what-is-section {
        top: auto;
        bottom: 30%;
    }

    .what-is-section h1 {
        text-shadow: 2px 2px black;
    }

    .benefit-section {
        top: 30%;
    }

    .benefit-section-title {
        font-size: 3rem;
        color: #ed927b;
        font-family: bobbyjones, sans-serif;
    }

    .pulau-satu-button-section {
        width: 80%;
        top: auto;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 778px) {
    .decor-meru {
        top: 13.5%;
        width: 700px;
    }

    .triangle {
        top: 30%;
        height: 900px;
    }
}

@media only screen and (max-width: 700px) {
    .decor-meru {
        top: 15%;
        width: 600px;
    }

    .triangle {
        height: 800px;
    }
}

@media only screen and (max-width: 675px) {
    .decor-meru {
        top: 17.5%;
        width: 550px;
    }

    .triangle {
        height: 700px;
    }

    .benefit-section {
        top: 32.5%;
        z-index: 1;
    }

    .benefit-section-title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .decor-meru {
        top: 19%;
        width: 450px;
    }

    .triangle {
        height: 600px;
    }

    .peralatan {
        top: 45%;
    }

    .benefit-section-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 435px) {
    .what-is-section {
        right: auto;
        left: 0;
        top: auto;
        bottom: 27.5%;
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .peralatan {
        width: 300px;
    }

    .jadwal-section {
        z-index: 1;
        top: 7.5%;
    }

    .what-is-section {
        bottom: 22.5%;
    }

    .nala-doorprize {
        bottom: 7.5%;
        width: 300px;
    }
}
