html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

.outer-container-carnaval {
  overflow-x: auto;
  /* overflow-y: hidden; */
  width: 100vw;
}

.container-carnaval {
  position: relative;
  height: 100vh;
  /* background-color: red; */
  width: 1440px;
}

.background-carnaval {
  position: absolute;
  width: 100%;
  top: -130px;
  left: 0;
}

/* .background-1 {
  z-index: 1;
  background-color: #d4d4d4;
  background-size: contain;
  width: 100%;
  min-height: 610px;
  position: absolute;
}

.background-2 {
  z-index: 0;
  background-color: #fef0e3;
  background-size: contain;
  width: 100%;
  min-height: 1070px;
  position: absolute;
} */

.dekor1-1-carnaval {
  z-index: 2;
  position: absolute;
  width: 400px;
  top: -30px;
  left: 0px;
  /* display: none; */
}

.dekor1-2-carnaval {
  z-index: 2;
  position: absolute;
  width: 380px;
  transform: rotate3d(0, 0, 1, 6deg);
  top: -70px;
  left: 510px;
  /* display: none; */
}

.dekor4-carnaval {
  z-index: 2;
  position: absolute;
  width: 400px;
  top: -80px;
  left: 1040px;
}

.full-confetti-carnaval {
  z-index: 10;
  position: absolute;
  width: 1250px;
  top: 0;
  left: 60px;
  pointer-events: none;
  /* display: none; */
}

/* .salinan-balon-1-carnaval {
  z-index: 3;
  position: absolute;
  width: 350px;
  top: 200px;
  left: -30px;
  display: none;
}

.salinan-balon-2-carnaval {
  z-index: 4;
  position: absolute;
  width: 350px;
  top: 300px;
  left: 900px;
  display: none;
}

.balon-nala-carnaval {
  z-index: 1;
  position: absolute;
  width: 550px;
  top: 0px;
  left: 320px;
  display: none;
}

.confetti-1-carnaval {
  z-index: 2;
  position: absolute;
  width: 200px;
  top: 50px;
  left: 0px;
  display: none;
}

.confetti-2-carnaval {
  z-index: 1;
  position: absolute;
  width: 300px;
  top: 280px;
  left: -100px;
  display: none;
}

.confetti-3-carnaval {
  z-index: 1;
  position: absolute;
  width: 200px;
  top: 100px;
  left: 300px;
  display: none;
}

.confetti-4-carnaval {
  z-index: 1;
  position: absolute;
  width: 200px;
  top: 90px;
  left: 680px;
  display: none;
}

.confetti-5-carnaval {
  z-index: 1;
  position: absolute;
  width: 180px;
  top: 310px;
  left: 920px;
  display: none;
} */

.ferris-wheel-carnaval {
  z-index: 2;
  position: absolute;
  width: 350px;
  top: 120px;
  left: 1090px;
  /* display: none; */
}

.market-makanan-carnaval {
  z-index: 2;
  position: absolute;
  width: 290px;
  top: 360px;
  left: 620px;
  /* display: none; */
}

.market-carnaval {
  z-index: 3;
  position: absolute;
  width: 240px;
  top: 450px;
  left: 720px;
  /* display: none; */
}

.carousel-carnaval {
  z-index: 6;
  position: absolute;
  width: 363px;
  top: 530px;
  left: 1060px;
  /* display: none; */
}

.carnaval-carnaval {
  z-index: 1;
  position: absolute;
  width: 530px;
  top: 40px;
  left: 290px;
  /* display: none; */
}

.swing-carnaval {
  z-index: 2;
  position: absolute;
  width: 450px;
  top: 10px;
  left: 670px;
  /* display: none */
}

.tenda-biru-muda-carnaval {
  z-index: 5;
  position: absolute;
  width: 320px;
  top: 530px;
  left: 940px;
  /* display: none; */
}

.tenda-biru-tua-carnaval {
  z-index: 4;
  position: absolute;
  width: 320px;
  top: 430px;
  left: 820px;
  /* display: none; */
}

.tenda-kuning-carnaval {
  z-index: 2;
  position: absolute;
  transform: rotateY(180deg);
  width: 320px;
  top: 350px;
  left: 290px;
  /* display: none; */
}

.tenda-merah-carnaval {
  z-index: 4;
  position: absolute;
  transform: rotateY(180deg);
  width: 320px;
  top: 510px;
  left: -20px;
  /* display: none; */
}

.tenda-oren-carnaval {
  z-index: 3;
  position: absolute;
  transform: rotateY(180deg);
  width: 320px;
  top: 430px;
  left: 135px;
  /* display: none; */
}


/* tanda seru */

.tanda-seru-merah-carnaval, .tanda-seru-oren-carnaval, .tanda-seru-kuning-carnaval, .tanda-seru-biru-tua-carnaval, .tanda-seru-biru-muda-carnaval {
  z-index: 5;
  width: 99px;
  height: 95px;
  padding: 0px 16px 30px 16px;
  text-align: center;
  border-radius: 12px;
  border: 3px solid var(--Black, #1B1B1B);
  background: var(--White, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}

.tanda-seru-merah-carnaval, .tanda-seru-oren-carnaval, .tanda-seru-kuning-carnaval, .tanda-seru-biru-tua-carnaval, .tanda-seru-biru-muda-carnaval span {
  font-family: Bobby Jones Soft;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px; /* 137.5% */
  letter-spacing: 1px;
}

.bottom-beak {
  z-index: 3;
  width: 25px;
  position: absolute;
  top: 89px;
  left: 36px;
}

.tanda-seru-merah-carnaval {
  z-index: 3;
  position: absolute;
  top: 418px;
  left: 24px;
  color: #fa0505;
}

.tanda-seru-oren-carnaval {
  z-index: 3;
  position: absolute;
  top: 328px;
  left: 173px;
  color: #E77919;
}

.tanda-seru-kuning-carnaval {
  z-index: 3;
  position: absolute;
  top: 281px;
  left: 341px;
  color: #EDBC23;
}

.tanda-seru-biru-tua-carnaval {
  z-index: 3;
  position: absolute;
  top: 344px;
  left: 939px;
  color: #275280;
}

.tanda-seru-biru-muda-carnaval {
  z-index: 3;
  position: absolute;
  top: 429px;
  left: 1106px;
  color: #76A9BA;
}

.nala-carnival {
  z-index: 3;
  width: 344px;
  position: absolute;
  top: 589px;
  left: 589px;  
}

.button-tenda-merah, .button-tenda-oren, .button-tenda-kuning, .button-tenda-biru-tua, .button-tenda-biru-muda {
  cursor: pointer;
}

.clickable-tenda-merah, .clickable-tenda-oren, .clickable-tenda-kuning, .clickable-tenda-biru-tua, .clickable-tenda-biru-muda {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  border-radius: 52.757px;
  border: 9.892px solid #DB4A26;
  background: #FFF;
  width: 1000px;
  height: 585px;
  z-index: 9999;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  z-index: 9998;
  transition: opacity 0.3s ease-in-out;
}

.clickable-tenda-merah:target, .clickable-tenda-oren:target, .clickable-tenda-kuning:target, .clickable-tenda-biru-tua:target, .clickable-tenda-biru-muda:target {
  visibility: visible;
  opacity: 1;
}

.clickable-tenda-merah button, .clickable-tenda-oren button, .clickable-tenda-kuning button, .clickable-tenda-biru-tua button, .clickable-tenda-biru-muda button {
  position: absolute;
  right: 10px;
  bottom: -102px;
  padding: 12px 18px 12px 24px;
  align-items: center;
  gap: 6px;
  border-radius: 9px;
  border: 3.75px solid var(--Black, #1B1B1B);
  background: var(--colors-brand-macchiato, #D0C5A9);
  color: var(--Black, #1B1B1B);
  text-align: center;
  cursor: pointer;

  /* Desktop/Text/Link Large */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.75px;
  z-index: 9999;
}

.clickable-tenda-merah h2, .clickable-tenda-oren h2, .clickable-tenda-kuning h2, .clickable-tenda-biru-tua h2, .clickable-tenda-biru-muda h2 {
  color: #DB4A26;
  text-align: center;
  margin: 30px 0;
  /* Desktop/Display/Huge Bold */
  font-family: Bobby Jones Soft;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px; /* 137.5% */
  letter-spacing: 1px;
}

.clickable-tenda-merah p, .clickable-tenda-oren p, .clickable-tenda-kuning p, .clickable-tenda-biru-tua p, .clickable-tenda-biru-muda p {
  color: var(--colors-brand-sap-green, #1F576F);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop/Display/Small */
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 133.333% */
  margin: 0 30px;
}

.clickable-tenda-merah .nala-balai-kota img, .clickable-tenda-oren .nala-balai-kota img, .clickable-tenda-kuning .nala-balai-kota img, .clickable-tenda-biru-tua .nala-balai-kota img, .clickable-tenda-biru-muda .nala-balai-kota img {
  width: 127px;
  flex-shrink: 0;
  z-index: 9999;
  position: absolute;
  right: 50px;
  top: 18px; 
}

.popup-tenda {
  width: 250px;
  margin: auto;
  transform: scaleX(-1)
}

@media only screen and (min-width: 1441px) {
  .container-carnaval {
    width: 100%;
  }

  .background-carnaval {
    width: 100%;
    top: -9vw;
  }

  .dekor1-1-carnaval {
    width: 26vw;
    top: -2vw;
    /* display: none; */
  }

  .dekor1-2-carnaval {
    width: 25vw;
    top: -4vw;
    left: 37vw;
    /* display: none; */
  }

  .dekor4-carnaval {
    width: 26vw;
    top: -4.5vw;
    left: 74vw;
    /* display: none; */
  }

  .full-confetti-carnaval {
    width: 87vw;
    top: 0;
    left: 0;
  }

  .ferris-wheel-carnaval {
    width: 25%;
    top: 8vw;
    left: 75vw;
    /* display: none; */
  }

  .market-makanan-carnaval {
    width: 19%;
    top: 25.5vw;
    left: 41.5vw;
    /* display: none; */
  }

  .market-carnaval {
    width: 16%;
    top: 31.5vw;
    left: 48.5vw;
    /* display: none; */
  }

  .carousel-carnaval {
    width: 27%;
    top: 36.3vw;
    left: 73vw;
    /* display: none; */
  }

  .carnaval-carnaval {
    width: 36%;
    top: 3vw;
    left: 20.5vw;
    /* display: none; */
  }

  .swing-carnaval {
    width: 33%;
    top: 1vw;
    left: 46vw;
    /* display: none; */
  }

  .tenda-biru-muda-carnaval {
    width: 23%;
    top: 36.5vw;
    left: 64vw;
    /* display: none; */
  }

  .tenda-biru-tua-carnaval {
    width: 23%;
    top: 29.5vw;
    left: 55.5vw;
    /* display: none; */
  }

  .tenda-kuning-carnaval {
    width: 23%;
    top: 23vw;
    left: 20vw;
    /* display: none; */
  }

  .tenda-merah-carnaval {
    width: 23%;
    top: 35vw;
    left: -2vw;
    /* display: none; */
  }

  .tenda-oren-carnaval {
    width: 23%;
    top: 29vw;
    left: 9vw;
    /* display: none; */
  }

  .nala-carnival {
    width: 24%;
    top: 41vw;
    left: 40vw;
  }

  .bottom-beak {
    width: 25%;
    top: 5.8vw;
    left: 2.5vw;
  }

  .tanda-seru-merah-carnaval, .tanda-seru-oren-carnaval, .tanda-seru-kuning-carnaval, .tanda-seru-biru-tua-carnaval, .tanda-seru-biru-muda-carnaval {
    width: 7%;
    height: 7%;
    padding: 0px 1vw 2vw 1vw;
    border-radius: 0.8vw;
    border: 0.3vw solid var(--Black, #1B1B1B);
  }
  
  .tanda-seru-merah-carnaval, .tanda-seru-oren-carnaval, .tanda-seru-kuning-carnaval, .tanda-seru-biru-tua-carnaval, .tanda-seru-biru-muda-carnaval span {
    font-size: 5vw;
    line-height: 6vw;
  }

  .tanda-seru-merah-carnaval {
    top: 31vw;
    left: 2vw;
  }
  
  .tanda-seru-oren-carnaval {
    top: 25vw;
    left: 12vw;
  }
  
  .tanda-seru-kuning-carnaval {
    top: 20vw;
    left: 22vw;
  }
  
  .tanda-seru-biru-tua-carnaval {
    top: 26vw;
    left: 66vw;
  }
  
  .tanda-seru-biru-muda-carnaval {
    top: 32vw;
    left: 76vw;
  }

}

@media only screen and (max-width: 1024px) {
  .clickable-tenda-merah, .clickable-tenda-oren, .clickable-tenda-kuning, .clickable-tenda-biru-tua, .clickable-tenda-biru-muda {
    width: 100%;
    height: 70%;
  }

}

@media only screen and (max-width: 390px) {
  .clickable-tenda-merah, .clickable-tenda-oren, .clickable-tenda-kuning, .clickable-tenda-biru-tua, .clickable-tenda-biru-muda {
    width: 100%;
    height: 70%;
  }

  .clickable-tenda-merah button, .clickable-tenda-oren button, .clickable-tenda-kuning button, .clickable-tenda-biru-tua button, .clickable-tenda-biru-muda button {
    padding: 0.6vw 1vw 0.5vw 1.2vw;
    font-size: 5vw;
  }
  
  .clickable-tenda-merah h2, .clickable-tenda-oren h2, .clickable-tenda-kuning h2, .clickable-tenda-biru-tua h2, .clickable-tenda-biru-muda h2 {
    margin: 8vw 0;
    font-size: 9vw;
    line-height: 42px;
  }
  
  .clickable-tenda-merah p, .clickable-tenda-oren p, .clickable-tenda-kuning p, .clickable-tenda-biru-tua p, .clickable-tenda-biru-muda p {
    font-size: 3vw;
    line-height: 21px;
  }
  
  .clickable-tenda-merah .nala-balai-kota img, .clickable-tenda-oren .nala-balai-kota img, .clickable-tenda-kuning .nala-balai-kota img, .clickable-tenda-biru-tua .nala-balai-kota img, .clickable-tenda-biru-muda .nala-balai-kota img {
    width: 12%;
    right: 20px;
    top: 10px;
  }

  .popup-tenda {
    width: 50%;
  }
}