body {
    overflow-x: hidden;
}

.fashion-outer {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
}

.container-fashion {
    background-image: url("../../../../images/wehea/fashion/Fashion/bg-lantai-fashion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 800px;
    width: 1440px;
    position: relative;
}

.manekin1 {
    position: absolute;
    width: 250px;
    top: 150px;
    left: 400px;
    z-index: 0;
}
.manekin2 {
    position: absolute;
    width: 250px;
    top: 100px;
    left: 520px;
    z-index: 2;
}
.manekin3 {
    position: absolute;
    width: 250px;
    top: 155px;
    left: 640px;
    z-index: 2;
}
.lukisan {
    position: absolute;
    width: 250px;
    top: 100px;
    left: 40px;
    z-index: 2;
}
.rakBaju {
    transform: rotate(3deg);
    position: absolute;
    width: 350px;
    top: 280px;
    left: 10px;
    z-index: 1;
}

.cermin {
    transform: rotate(3deg);
    position: absolute;
    width: 350px;
    top: 140px;
    left: 165px;
}

.nala {
    transform: scaleX(-1);
    position: absolute;
    width: 280px;
    top: 240px;
    left: 300px;
}

.baju {
    position: absolute;
    width: 400px;
    top: 356px;
    left: 956px;
    z-index: 3;
}

.celana {
    position: absolute;
    width: 400px;
    top: 250px;
    left: 770px;
    z-index: 2;
}
.dress {
    position: absolute;
    width: 400px;
    top: 304px;
    left: 862px;
    z-index: 2;
}

#openPopup {
    position: absolute;
    left: 1085px;
    top: 237px;
    z-index: 3;
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    width: 1131px;
    height: 577px;
    padding: 25px 50px;
    border-radius: 20px;
    border: 5px solid #1f576f;
}

.token-nala-popup-fashion {
    position: absolute;
    top: 20px;
    right: 100px;
    width: 120px;
    height: 120px;
}

.ghui-popup-fashion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 293px;
    height: 185px;
}

.ttyh-popup-fashion {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 265px;
    height: 183px;
}

.tyui-popup-fashion {
    position: absolute;
    bottom: 0;
    right: 300px;
    width: 265px;
    height: 183px;
}

.token-nala-popup-fashion img,
.ghui-popup-fashion img,
.ttyh-popup-fashion img,
.tyui-popup-fashion img {
    max-width: 100%;
    max-height: 100%;
}

#tooltip-fashion-close {
    position: absolute;
    bottom: 50px;
    right: 155px;
}

#tooltip-fashion-close button {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: #d0c5a9;
}

@media screen and (min-width: 1441px) {
    .container-fashion {
        background-image: url(../../../../images/wehea/fashion/Fashion/bg-lantai-fashion.png);
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 100vh;
        width: 100vw;
    }
    .manekin1 {
        width: 17.361111111111vw;
        top: 20%;
        left: 27%;
    }
    .manekin2 {
        width: 17.361111111111vw;
        top: 17%;
        left: 34%;
    }
    .manekin3 {
        width: 17.361111111111vw;
        top: 20%;
        left: 43%;
    }
    .lukisan {
        width: 17.361111111111vw;
        top: 8%;
        left: 2%;
    }
    .rakBaju {
        width: 24.305555555556vw;
        top: 30%;
        left: 1%;
    }

    .cermin {
        width: 24.305555555556vw;
        top: 13%;
        left: 11%;
    }

    .nala {
        width: 19.444444444444vw;
        top: 30%;
        left: 20%;
    }

    .baju {
        width: 27.777777777778vw;
        top: 41%;
        left: 63%;
    }

    .celana {
        width: 27.777777777778vw;
        top: 31%;
        left: 47%;
    }
    .dress {
        width: 27.777777777778vw;
        top: 36%;
        left: 55%;
    }

    #openPopup {
        width: 7.431vw;
        left: 75.347vw;
        top: 16.458vw;
    }

    .popup-content {
        width: 78.542vw;
        height: 40.069vw;
        bordersize: 0.347vw;
        font-size: 1.2vw;
    }

    .token-nala-popup-fashion {
        right: 6.944vw;
        width: 8.333vw;
        height: 8.333vw;
    }

    .ghui-popup-fashion {
        width: 20.347vw;
        height: 12.847vw;
    }

    .ttyh-popup-fashion {
        width: 18.403vw;
        height: 12.708vw;
    }

    .tyui-popup-fashion {
        right: 20.833vw;
        width: 18.403vw;
        height: 12.708vw;
    }

    #tooltip-fashion-close {
        bottom: 3.472vw;
        right: 10.764vw;
    }

    #tooltip-fashion-close button {
        width: 10.417vw;
        font-size: 1.2vw;
    }
}
