.container-fashion{
    background-image: url(../../../../images/wehea/fashion/Fashion/bg-lantai-fashion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    min-height: 100vh;
}
@media screen and (min-width: 1440px) {
    .container-fashion{
        background-image: url(../../../../images/wehea/fashion/Fashion/bg-lantai-fashion.png);
        background-repeat: no-repeat;
        background-size: 100vw;
    }
    
}

.manekin1{
    position: absolute;
    width: 250px;
    top: 150px;
    left: 400px;
    z-index: 0;
}
.manekin2{
    position: absolute;
    width: 250px;
    top: 100px;
    left: 520px;
    z-index: 2;
}
.manekin3{

    position: absolute;
    width: 250px;
    top: 155px;
    left: 640px;
    z-index: 2;
}
.lukisan{
    position: absolute;
    width: 250px;
    top: 100px;
    left: 40px;
    z-index: 2;
}
.rakBaju{
    transform: rotate(3deg);
    position: absolute;
    width: 350px;
    top: 240px;
    left: 20px;
    z-index: 1;
}

.cermin{
    transform: rotate(3deg);
    position: absolute;
    width: 350px;
    top: 140px;
    left: 165px;
    
}

.nala{
   transform: scaleX(-1);
    position: absolute;
    width: 280px;
    top: 240px;
    left: 300px;
}

.baju{
    
    position: absolute;
    width: 400px;
    top: 350px;
    left: 1100px;
    z-index: 3;
}

.celana{
    
    position: absolute;
    width: 400px;
    top: 250px;
    left: 850px;
    z-index: 2;
}
.dress{
    position: absolute;
    width: 400px;
    top: 300px;
    left: 970px;
    z-index: 2;
}