body {
    overflow-x: hidden;
}

.outer-container-gedung-kesenian {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
}

.container-gedung-kesenian {
    position: relative;
    min-width: 1440px;
    min-height: 100vh;
}

.eco-art-class-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 450px;
    top: 100px;
    left: 590px;
}

.keramik-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 550px;
    top: 155px;
    left: 10px;
    /* display: none; */
}

.lukisan-1-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 275px;
    transform: rotateY(180deg);
    top: 70px;
    left: 1000px;
    /* display: none; */
}

.lukisan-2-gedung-kesenian {
    z-index: 0;
    position: absolute;
    transform: rotateY(180deg);
    width: 275px;
    top: 141px;
    left: 94px;
    /* display: none; */
}

.lukisan-3-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 275px;
    top: 210px;
    left: 920px;
    /* display: none; */
}

.papan-tulis-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    display: none;
}

.patung-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 450px;
    top: 240px;
    left: -120px;
    /* display: none; */
}

.rak-kerajinan-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 269px;
    top: 393px;
    left: 1136px;
}

.rak-gedung-kesenian {
    z-index: 1;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    display: none;
}

.nala-gedung-kesenian {
    z-index: 3;
    width: 377px;
    position: absolute;
    top: 419px;
    left: 202px;
}

.tooltip-papan-tulis {
    position: absolute;
    top: 200px;
    left: 750px;
    z-index: 2;
    cursor: pointer;
}

@media screen and (min-width: 1441px) {
    .container-gedung-kesenian {
        width: 100vw;
    }

    .background-gedung-kesenian {
        width: 100vw;
    }

    .eco-art-class-gedung-kesenian {
        width: 29vw;
        top: 8vw;
        left: 40vw;
    }

    .keramik-gedung-kesenian {
        width: 38vw;
        top: 10vw;
        left: 2vw;
        /* display: none; */
    }

    .lukisan-1-gedung-kesenian {
        width: 19vw;
        top: 7vw;
        left: 68vw;
        /* display: none; */
    }

    .lukisan-2-gedung-kesenian {
        width: 19vw;
        top: 11vw;
        left: 6vw;
        /* display: none; */
    }

    .lukisan-3-gedung-kesenian {
        width: 19vw;
        top: 17vw;
        left: 63vw;
        /* display: none; */
    }

    .papan-tulis-gedung-kesenian {
        width: 200px;
        top: 0;
        left: 0;
        display: none;
    }

    .patung-gedung-kesenian {
        width: 32vw;
        top: 17vw;
        left: -9vw;
        /* display: none; */
    }

    .rak-kerajinan-gedung-kesenian {
        width: 18vw;
        top: 28vw;
        left: 79vw;
    }

    .rak-gedung-kesenian {
        width: 200px;
        top: 0;
        left: 0;
        display: none;
    }

    .nala-gedung-kesenian {
        width: 24%;
        top: 29vw;
        left: 14vw;
    }

    .tooltip-papan-tulis {
        left: 52.083vw;
    }

    .tooltip-papan-tulis-chatbox {
        width: 55.556vw;
        height: 34.722vw;
        padding: 3.472vw;
        border-radius: 1.389vw;
        border-size: 0.208vw;
        gap: 3.472vw;
        font-size: 1.5vw;
    }

    .tooltip-papan-tulis-chatbox h2 {
        font-size: 3vw;
    }

    #tooltip-papan-tulis-close {
        bottom: 10.417vw;
        right: 10.417vw;
    }

    #tooltip-papan-tulis-close button {
        border-radius: 0.347vw;
        padding: 0.347vw;
        width: 8.333vw;
        background-color: #d0c5a9;
        font-size: 1.2vw;
    }
}
