html, body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
img{
    width: 100%;
    height: auto;
}
form{
    width:500px;
}
.page{
    background-image: linear-gradient(#A7C1C9 ,#E4EBF2 70%,#8C929A );
    height: 100vh;
    width: 100vw;
}
.umn-eco-logo{
    width: 250px;
}
.backdrop {
    width: 100%;
    position: fixed;
    z-index: 0 !important;
    height: 100%;
}
.formInput {
    position: relative;
    justify-content: center;
    z-index: 4 !important;
    overflow-y: auto !important;
}
.buildingKiri{
    position: absolute;
    height: 100vh;
    z-index: 1;
    left: 0;
    bottom: 0;
}
.buildingKiri img{
    height: 100vh;
}
.buildingKanan img{
    height: 100vh;
}
.buildingKanan {
    position: absolute;
    height: 100vh;
    z-index: 1;
    right:0;
    bottom: 0;
}
.bridgeHanger{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translate(-50%,0%);
}
.hills{
    position: absolute;
    z-index: 0;
    width: 100vw;
    bottom: 0;
}
.formCanvas {
    width: 100%;
}
.overlay-background{
    background: linear-gradient(134.8deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(25px);
    border-radius: 50px;
}
.form-control, .form-select{
    border-radius: 30px !important;
    border : none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
}
.form-control:hover{
    cursor:pointer!important;
}
.btnSubmit {
    background-color: #12192D;
    box-shadow: 0px 2px 2px #262747;
    border-radius: 30px;
    outline: none;
    border: none;
    color: white;
    transition: 0.2s;
    z-index: 9;
    font-family: 'Montserrat Bold';
}
.btnSubmit:focus{
    outline: none;
    border: none;
}
.btnSubmit:hover{
    background: #88919F;
    transition: 0.2s;
}
p{
    color: white;
}
a{
    color: #12192D;
}
a::after{
    color: #352fac;
}
a:hover{
    color: #80b0ef;
}
.title{
    font-family: 'Montserrat Bold 2';
}
.sub-decription{
    font-family: 'Montserrat';
}
/* width */
::-webkit-scrollbar {
    display: none;
}

.error-text{
    font-size: 12px;
    color: #ff0000;
}
@media (max-width:764px){
    .umn-eco-logo{
        width:200px;
    }
    .container{
        max-width: none;
    }
    .formCanvas{
        width: 80%;
    }
    form{
        width:400px;
    }
    .formInput{
        margin: 20px auto;
    }
    .title{
        font-size: 2.5rem;
    }
    .buildingKanan{
        transform: translate(50%,0);
    }
    .buildingKiri{
        transform: translate(-50%,0);
    }
    .bridgeHanger{
        width: 150%;
    }
    .hills{
        width: 150%;
    }
}
@media (max-width:600px){
    .formCanvas{
        width: 80%;
    }
    form{
        width:300px;
    }
    .formInput{
        margin: 20px auto;
    }
    .title{
        font-size: 2.0rem;
    }
}
@media (max-width:492px){
    .formCanvas{
        width: 80%;
    }
    .umn-eco-logo{
        width:150px;
    }
    form{
        width:200px;
    }
    .formInput{
        margin: 20px auto;
    }
    .title{
        font-size: 2.0rem;
    }
    .buildingKanan{
        transform: translate(80%,0);
    }
    .buildingKiri{
        transform: translate(-80%,0);
    }
    .bridgeHanger{
        width: 200%;
    }
    .hills{
        width: 200%;
    }
}
.error{
    color: #ffc0a4;
    font-size: 0.8rem;
}
.form-control.error {
    color: #020202;
    background-color: #ffc0a4;
    border-color: #eb5e28;
}