html,body{
    overflow-x: hidden;
}

.container-fluid-footer{
    background: #270e3f!important;
}

.main{
    min-height: 100vh;
    background: linear-gradient(180deg, #4628BD -59.72%, #FCA33B 100%);
    position: relative;
    overflow: hidden;
}

.gunung-kiri{
    z-index: 3;
    position: absolute;
    width: 56%;
    bottom: 0;
    left: 50%;
    transform: translate(-101%, 17%);
}

.gunung-kanan{
    z-index: 3;
    position: absolute;
    width: 56%;
    bottom: 0;
    left: 50%;
    transform: translate(5%, 29%);
}



.tanah-kanan{
    position: absolute;
    width: 40%;
    z-index: 4;
    bottom: 0;
    right: 0;
}
.tanah-kiri{
    width: 41%;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
}

.candi{
    width: 37%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.portal{
    width: 11%;
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -28%);
}

.content{
    padding-top: 125px;
    position: relative;
    z-index: 100;
}

.content-title{
    font-family: 'Montserrat Bold 2';
    font-style: normal;
    font-weight: 800;
    font-size: 35.1818px;
    line-height: 43px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.content-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
@media (max-width:768px){
    html,body{
        overflow-x: hidden;
    }

    .mobile-gunung-kiri{
        z-index: 3;
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-117%, 18%);
    }
    
    .mobile-gunung-kanan{
        z-index: 3;
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(21%, 30%);
    }
    .candi{
        width: 48%;
        transform: translate(-50%, 0);
    }
    .portal{
        width: 16%;
        transform: translate(-50%, -25%);
    }
    .content-title{
        font-family: 'Montserrat Bold 2';
        font-style: normal;
        font-weight: 800;
        font-size: 30.1818px;
        line-height: 40px;
        /* identical to box height */
    
        text-align: center;
    
        color: #FFFFFF;
    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }

}
@media (max-width:576px){
    .mobile-gunung-kiri{
        width: 110%;
        transform: translate(-108%, 18%);
    }
    
    .mobile-gunung-kanan{
        width: 110%;
        transform: translate(13%, 30%);
    }
    .candi{
        width: 90%;
        transform: translate(-50%, 0);
    }
    .portal {
        width: 27%;
        transform: translate(-50%, -25%);
    }
    .tanah-kanan{
        position: absolute;
        width: 80%;
        z-index: 4;
        bottom: 0;
        right: 0;
    }
    .tanah-kiri{
        width: 80%;
        position: absolute;
        z-index: 4;
        bottom: 0;
        left: 0;
    }
}