body {
    overflow-x: hidden;
    margin: 0;
  }
  
  .container-Eco {
    position: relative;
    width: 100vw;
    height: 348vw;
    background: linear-gradient(
      180deg,
      #9acde0 0%,
      rgba(221, 237, 236, 0.9) 18.23%,
      #ffdd82 57.81%,
      #ffde82 68.75%,
      #f79735 100%
    );
    
  }
  
  .container-Eco .awan-kiri {
    z-index: 0;
    position: absolute;
    top: 9vw;
    left: 3vw;
  }
  
  .container-Eco .awan-kiri img {
    width: 40vw;
  }
  
  .container-Eco .awan-kiri-bawah {
    z-index: 0;
    position: absolute;
    top: 95vw;
    left: 3vw;
  }
  
  .container-Eco .awan-kiri-bawah img {
    width: 40vw;
  }
  
  .container-Eco .awan-kanan {
    z-index: 0;
    position: absolute;
    top: 22vw;
    left: 62vw;
  }
  
  .container-Eco .awan-kanan img {
    width: 40vw;
  }
  
  .container-Eco .awan-kanan-bawah {
    z-index: 0;
    position: absolute;
    top: 80vw;
    left: 62vw;
  }
  
  .container-Eco .awan-kanan-bawah img {
    width: 40vw;
  }
  
  .container-Eco .header-1 {
    z-index: 1;
    position: absolute;
    color: #f9f8dc;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 41px;
    background: #458b95;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5vw 2vw;
    top: 13vw;
    left: 28vw;
    letter-spacing: 0.5vw;
  }
  
  .container-Eco .header-2 {
    z-index: 1;
    position: absolute;
    color: #284c3f;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 74vw;
    left: 41.5vw;
    letter-spacing: 0.1vw;
  }
  
  .container-Eco .overview p {
    position: absolute;
    top: 83vw;
    left: 23.5vw;
    color: #284c3f;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
  }
  
  .container-Eco .overview span {
    font-weight: 700;
  }
  
  .container-Eco .tahun {
    z-index: 1;
    position: absolute;
    top: 24vw;
    left: 41vw;
    padding: 0.5vw 2.5vw;
    border-radius: 41px;
    background: #83a9ac;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #f9f8dc;
    text-align: center;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5vw;
  }
  
  .container-Eco .tahun h2 {
    margin: 0;
  }
  
  .container-Eco .header-1 h2 {
    margin: 0;
  }
  
  .container-Eco .temple {
    z-index: 1;
    position: absolute;
    width: 135%;
    top: 7vw;
    left: -17vw;
  }
  
  .container-Eco .jembatan {
    z-index: 1;
    position: absolute;
    width: 110%;
    left: -3vw;
    top: 51vw;
  }
  
  .container-Eco .bush-kiri {
    z-index: 2;
    position: absolute;
    width: 38%;
    left: -10vw;
    top: 37.5vw;
    /* display: none; */
  }
  
  .container-Eco .bush-kanan {
    z-index: 2;
    position: absolute;
    width: 38%;
    right: -10vw;
    top: 37.5vw;
    /* display: none; */
  }
  
  .container-Eco .daun-merah-kiri {
    z-index: 3;
    position: absolute;
    width: 34%;
    left: 5vw;
    top: 33vw;
    /* display: none; */
  }
  
  .container-Eco .daun-merah-kanan {
    z-index: 3;
    position: absolute;
    width: 34%;
    right: 5vw;
    top: 33vw;
    /* display: none; */
  }
  
  .container-Eco .tanaman-menjalar-kiri {
    z-index: 1;
    position: absolute;
    width: 33%;
    left: -1vw;
    top: 51vw;
  }
  
  .container-Eco .tanaman-menjalar-kanan {
    z-index: 1;
    position: absolute;
    width: 33%;
    right: -1vw;
    top: 51vw;
    /* display: none; */
  }
  
  .container-Eco .tanaman-menjalar-tengah {
    z-index: 1;
    position: absolute;
    width: 22%;
    left: 38vw;
    top: 50.5vw;
    /* display: none; */
  }
  
  @media only screen and (max-width: 425px) {
    .container-Eco .gradasi-bg {
      left: -2vw;
    }
  
    .container-Eco .temple {
      left: -18vw;
      width: 132vw;
    }
  
    .container-Eco .jembatan {
      left: -4vw;
    }
  
    .container-Eco .bush-kiri {
      left: -11vw;
    }
  
    .container-Eco .bush-kanan {
      right: -11vw;
    }
  
    .container-Eco .daun-merah-kiri {
      left: 4vw;
    }
  
    .container-Eco .daun-merah-kanan {
      right: 4vw;
    }
  
    .container-Eco .tanaman-menjalar-kiri {
      left: -2vw;
    }
  
    .container-Eco .tanaman-menjalar-kanan {
      right: -2vw;
    }
  
    .container-Eco .tanaman-menjalar-tengah {
      left: 37vw;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .container-Eco .temple-container {
      left: -0.75vw;
    }
  }
  