@font-face {
    font-family: bobbyjones;
    src: url("{{ asset('fonts/bobby-jones-soft.otf') }}") format("truetype");
}

.tahun,
.tahun-2,
.tahun-3,
.tahun-4,
.tahun-5,
.tahun-6,
.tahun-7,
.tahun-8 {
    font-family: bobbyjones;
}

h2 {
    all: unset;
    font-family: bobbyjones;
}

body {
    height: 1000px; /* Adjust the height as needed */
}

.container-Bs {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 342vw;
    background: linear-gradient(
        180deg,
        #9acde0 0%,
        rgba(221, 237, 236, 0.9) 18.23%,
        #ffdd82 57.81%,
        #ffde82 68.75%,
        #f79735 100%
    );
    overflow-x: hidden;
}

/* .gradasi-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, #9ACDE0 0%, rgba(221, 237, 236, 0.90) 18.23%, #FFDD82 57.81%, #FFDE82 68.75%, #F79735 100%);
} */

.container-Bs .awan-kiri {
    position: absolute;
    width: 100%;
    top: 10vw;
    left: 10vw;
}

.container-Bs .header-1 {
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 5%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    color: #f9f8dc;
    font-size: 4vw !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 41px;
    background: #458b95;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5vw 2vw;
    letter-spacing: 0.5vw;
}

.container-Bs .header-2 {
    z-index: 1;
    color: #284c3f;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1vw;
}

.container-Bs .overview {
    text-align: center;
    position: absolute;
    top: 51rem; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
    .container-Bs .overview {
        text-align: center;
        position: absolute;
        top: 30rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 768px) {
    .container-Bs .overview {
        text-align: center;
        position: absolute;
        top: 23rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }
}

.container-Bs .overview p {
    color: #284c3f;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
    margin: auto;
}

.container-Bs .overview span {
    font-weight: 700;
}

.container-Bs .header-3 {
    z-index: 1;
    color: #284c3f;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1vw;
}

.container-Bs .header-4 {
    z-index: 1;
    font-size: 3.5vw;
    color: #284c3f;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1vw;
}

.container-Bs .header-5 {
    z-index: 1;
    color: #284c3f;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1vw;
}

.container-Bs .programs {
    text-align: center;
    position: absolute;
    top: 141rem; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
    .container-Bs .programs {
        text-align: center;
        position: absolute;
        top: 77rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 768px) {
    .container-Bs .programs {
        text-align: center;
        position: absolute;
        top: 52rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }
}

.container-Bs .programs p {
    color: #284c3f;
    text-align: left;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
    margin: auto;
}

.container-Bs .programs ul {
    color: #284c3f;
    text-align: left;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
    margin: auto;
    margin-top: 10px;
}

.container-Bs .programs .li-2 {
    color: #284c3f;
    text-align: left;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
    margin: auto;
}

.container-Bs .programs span {
    font-weight: 700;
}

.container-Bs .achievements {
    text-align: center;
    position: absolute;
    top: 83%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.container-Bs .achievements .paragraf-3 {
    color: #284c3f;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
    margin: auto;
}

.container-Bs .environmental {
    text-align: center;
    position: absolute;
    top: 93%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.container-Bs .environmental .paragraf-4 {
    color: #284c3f;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50vw;
    margin: auto;
}

.container-Bs .environmental .paragraf-5 {
    color: #284c3f;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50vw;
    margin: auto;
}

.container-Bs .tahun {
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 8%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    padding: 0.5vw 2.5vw;
    border-radius: 41px;
    background: #83a9ac;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #f9f8dc;
    text-align: center;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5vw;
}

.container-Bs .tahun h2 {
    margin: 0;
}

.container-Bs .header-1 h2 {
    margin: 0;
}

.container-Bs .temple {
    z-index: 0;
    position: absolute;
    width: 130%;
    top: 10vw;
    left: -15vw;
}

.container-Bs .temple img {
    width: 100%;
}

.container-Bs .jembatan {
    z-index: 1;
    position: absolute;
    width: 110%;
    left: -3vw;
    top: 49vw;
}

.container-Bs .bush-kiri {
    z-index: 2;
    position: absolute;
    width: 38%;
    left: -10vw;
    top: 35.5vw;
    /* display: none; */
}

.container-Bs .bush-kanan {
    z-index: 2;
    position: absolute;
    width: 38%;
    right: -10vw;
    top: 35.5vw;
    /* display: none; */
}

.container-Bs .daun-merah-kiri {
    z-index: 3;
    position: absolute;
    width: 34%;
    left: 5vw;
    top: 31vw;
    /* display: none; */
}

.container-Bs .daun-merah-kanan {
    z-index: 3;
    position: absolute;
    width: 34%;
    right: 5vw;
    top: 31vw;
    /* display: none; */
}

.container-Bs .tanaman-menjalar-kiri {
    z-index: 1;
    position: absolute;
    width: 33%;
    left: -1vw;
    top: 49vw;
}

.container-Bs .tanaman-menjalar-kanan {
    z-index: 1;
    position: absolute;
    width: 33%;
    right: -1vw;
    top: 49vw;
    /* display: none; */
}

.container-Bs .tanaman-menjalar-tengah {
    z-index: 1;
    position: absolute;
    width: 22%;
    left: 38vw;
    top: 48.5vw;
    /* display: none; */
}

@media only screen and (max-width: 468px) {
    .container-Bs {
        height: 3135px;
    }

    .container-Bs .header-1 {
        z-index: 1;
        text-align: center;
        position: absolute;
        top: 6.5rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
        color: #f9f8dc;
        font-size: 7vw !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 41px;
        background: #458b95;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
            0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 1vw 3vw;
        letter-spacing: 0.5vw;
    }

    .container-Bs .tahun {
        z-index: 1;
        text-align: center;
        position: absolute;
        top: 10.5rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
        padding: 0.5vw 2.5vw;
        border-radius: 41px;
        background: #83a9ac;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
            0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #f9f8dc;
        text-align: center;
        font-size: 6vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.5vw;
    }

    .container-Bs .overview {
        text-align: center;
        position: absolute;
        top: 30rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .header-2 {
        z-index: 1;
        color: #284c3f;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1vw;
    }

    .container-Bs .overview p {
        color: #284c3f;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .programs {
        text-align: center;
        position: absolute;
        top: 95rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .header-3 {
        z-index: 1;
        color: #284c3f;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1vw;
    }

    .container-Bs .programs p {
        color: #284c3f;
        text-align: left;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .programs ul {
        color: #284c3f;
        text-align: left;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
        margin-top: 10px;
    }

    .container-Bs .programs .li-2 {
        color: #284c3f;
        text-align: left;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .programs span {
        font-weight: 700;
    }

    .container-Bs .achievements {
        text-align: center;
        position: absolute;
        top: 160rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .achievements .paragraf-3 {
        color: #284c3f;
        text-align: center;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .environmental {
        text-align: center;
        position: absolute;
        top: 175rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .environmental .paragraf-4 {
        color: #284c3f;
        text-align: center;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .environmental .paragraf-5 {
        color: #284c3f;
        text-align: center;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .header-4 {
        z-index: 1;
        font-size: 20px;
        color: #284c3f;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1vw;
    }

    .container-Bs .header-5 {
        z-index: 1;
        color: #284c3f;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1vw;
    }
}

@media only screen and (max-width: 468px) {
    .container-Bs {
        height: 2843px;
    }

    .container-Bs .overview p {
        color: #284c3f;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .programs p {
        color: #284c3f;
        text-align: left;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .programs ul {
        color: #284c3f;
        text-align: left;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
        margin-top: 10px;
    }

    .container-Bs .programs .li-2 {
        color: #284c3f;
        text-align: left;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .achievements .paragraf-3 {
        color: #284c3f;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .environmental .paragraf-4 {
        color: #284c3f;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .environmental .paragraf-5 {
        color: #284c3f;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 50vw;
        margin: auto;
    }

    .container-Bs .overview {
        text-align: center;
        position: absolute;
        top: 27rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .programs {
        text-align: center;
        position: absolute;
        top: 87rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .achievements {
        text-align: center;
        position: absolute;
        top: 145rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .container-Bs .environmental {
        text-align: center;
        position: absolute;
        top: 165rem; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 425px) {
    .temple-dua {
        display: block !important;
        position: absolute;
        width: 130%;
        top: 156em;
        left: -15vw;
        height: 10%;
    }

    .temple-dua img {
        width: 100%;
    }
}

.container-Bs .temple-dua {
    display: none;
}
