body{
  width: 100vw;
  overflow-x: hidden;
  background-color: #acbccb;
}

.background-page{
  z-index: 1;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.tembok-kanan{
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
}

.tembok-kiri{
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

.water-reflect{
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.downpour-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100px;
}

.button-daftar{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  bottom: 0;
  left: 0;
}

.btn-wrapper{
  position: absolute;

  background: linear-gradient(134.8deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(7.5px);
  border-radius: 30px;

  width: 50%;
  height: fit-content;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-btn{
  margin: 10% 0;
}

.btn{
  background-color: #12192D;
  font-family: 'Montserrat';
  color: #FFFFFF;
  border-radius: 20px;
  border: none;
  width:fit-content;
}

.btn:hover{
  background-color: #323d5a;
}

.btn-seminar{
  float:right;
}

.btn-booth{
  float:left;
}

.btn-seminar-done:disabled{
  float:right;
  background-color: #2ec050;
  color: #080e1d;
  font-family: 'Montserrat Bold';
}

.btn-activity-done:disabled{
  float:left;
  background-color: #2ec050;
  color: #080e1d;
  font-family: 'Montserrat Bold';
}

.btn-seminar-closed:disabled{
  float:right;
  background-color: #aaaaaa;
  color: #080e1d;
  font-family: 'Montserrat Bold';
}

.btn-activity-closed:disabled{
  float:left;
  background-color: #aaaaaa;
  color: #080e1d;
  font-family: 'Montserrat Bold';
}

.downpour-title{
  font-family: 'Montserrat Bold 2';
}

.swal2-header{
  font-family: 'Montserrat Bold' !important;
}

.swal2-content, .swal2-actions{
  font-family: 'Montserrat' !important;
}

@media only screen and (max-width: 769px) {
  .tembok-kiri{
    height: 120%;
  }
  .tembok-kanan{
    height: 100%;
  }
  .btn-seminar{
    font-size: 12px;
  }
  
  .btn-booth{
    font-size: 12px;
  }
  
  .btn-seminar-done:disabled{
    font-size: 12px;
  }
  
  .btn-activity-done:disabled{
    font-size: 12px;
  }

  .btn-stamp{
    font-size: 12px;
  }
  .btn-wrapper{
    width: 100%;
  }
}