body{
  width: 100vw;
  height:fit-content;
  overflow-x: hidden;
  background-color: #acbccb;
}

.background-page{
  z-index: 1;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.content-wrapper{
  width: 100%;
}

.tembok-kanan{
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
}

.tembok-kiri{
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

.water-reflect{
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.relative-ticket{
  z-index: 3;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paper{
  position: relative;
  width: 60vw;
}

.text-title{
  position: absolute;
  margin-top: 4%;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title-welcome{
  font-family: "Montserrat Bold";
  font-size: 32px;
  color: #22223B;
}

.subtitle-welcome{
  margin-top: 4%;
  font-family: "Montserrat";
  font-size: 16px;
  color: #22223B;
}

.stamp-field{
  margin-top: 4%;
}

.stamp-style{
  font-size: 64px;
  color: #88919F;
}

.button-activity{
  font-family: "Montserrat Bold";
  font-size: 16px;
  background-color: #12192D;
  color: white;
  border: none;
  border-radius: 1rem;
  margin-top: 3%;
  /* color: rgb(110, 237, 237);
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 0 0.5em rgb(110, 237, 237);
  background-color: rgb(44, 157,157);
  border: 0.25em solid rgb(110, 237, 237);
  box-shadow: 0 0 1em 0.25em rgb(110, 237, 237),
              0 0 4em 1em rgba(65, 243, 243, 0.781),
              inset 0 0 0.75em 0.25em rgb(110, 237, 237); */
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.button-activity:hover{
  /* background-color: #273c75;
  transition: 0.2s; */
  color: #ffffff;
  background-color: #192d6e;
  box-shadow: 0 0 1em 0.25em #324ca3,
              0 0 4em 1em rgba(66, 82, 134, 0.781);
}

.help-text{
  font-family: "Montserrat";
  font-size: 16px;
  color: #22223B;
  margin-top: 4%;
  margin-bottom: 0;
}

.text-anchor{
  color: black;
}

.dark{
  opacity: 1;
}

/* Modal */
.drought-form h1 {
  font-family: "Montserrat Bold 2";
  color: #1b5b3b;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.form-control {
  border-radius: 20px !important;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 22px;
}

.button-submit {
  background: #00284f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 8px 30px;
  outline: none;
  border: none;
  font-family: "Montserrat Bold";
  text-transform: uppercase;
  color: white !important;
  transition: 0.2s;
}

.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.show > .biji-bingo {
  width: 100%;
}

.button-submit:focus {
  outline: none;
  border: none;
}

.button-submit:hover {
  background-color: #273c75;
  transition: 0.2s;
}

.biji-bingo {
width: 80% !important;
}

/* END FORM */

/* MODAL */
.modal-content {
  position: relative;
  /* custom modal height */
  height: 80%;
  border-radius: 20px;
  margin-top: 10%;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  
  background: linear-gradient(164.16deg, #12192D -20.83%, #AFBDE8 116.27%);
  /* Note: backdrop-filter has minimal browser support */

}

.modal-content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 2px;
  background: linear-gradient(139deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,0) 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.modal-backdrop {
  opacity: 0 !important;
}

.modal-content .modal-title {
  font-family: "Montserrat Bold 2";
}

.modal-dialog {
  min-width: 70vw;
  width: 70vw;
  height: fit-content;
}

.modal-header,
.modal-footer {
  border: none;
}

div.modal.fade.show body {
  background-color: aqua !important;
}

/* SWAL */
.swal2-modal {
  border-radius: 25px !important;
  height: 400px;
  background: linear-gradient(
      134.8deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 60%,
      rgba(255, 255, 255, 0.3) 100%
  ) !important;
  backdrop-filter: blur(5px);
}

.swal2-actions {
  gap: 20px;
}

.swal2-cancel,
.swal2-confirm {
  border: none;
  font-weight: bold;
  border-radius: 25px;
  padding: 8px 25px;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.4);
}

.swal2-cancel {
  background-color: #87837e;
}

.swal2-confirm {
  color: white;
  background-color: #3b60db;
}

.swal2-confirm:hover {
  background-color: #192d6e;
}

/* END SWAL */

.stamp-undone-style{
  display:none;
}

.stamp-done-style{
  margin-top: 10px;
  width: auto;
  height: 64px;
}

.stamp-A-done{
  background-color:#192d6e;
  color: #ffffff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.swal2-header{
  font-family: 'Montserrat Bold' !important;
}

.swal2-content, .swal2-actions{
  font-family: 'Montserrat' !important;
}

@media only screen and (max-width: 1145px) {
  .title-welcome{
    font-size: 24px;
  }
  .subtitle-welcome{
    font-size: 12px;
  }
  .stamp-style{
    font-size: 40px;
  }
  .button-activity{
    font-size: 12px;
  }
  .help-text{
    font-size: 12px;
  }
  .text-anchor{
    font-size: 12px;
  }
  .stamp-A-done{
    width: 60px;
    height: 60px;
  }
  .stamp-done-style{
    margin-top: 8px;
    width: auto;
    height: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .title-welcome{
    font-size: 20px;
  }
  .subtitle-welcome{
    font-size: 10px;
  }
  .stamp-style{
    font-size: 30px;
  }
  .stamp-done-style{
    height: 80%;
  }
  .button-activity{
    font-size: 10px;
  }
  .help-text{
    font-size: 10px;
  }
  .text-anchor{
    font-size: 10px;
  }
  .stamp-A-done{
    width: 45px;
    height: 45px;
  }
  .stamp-done-style{
    margin-top: 5px;
    width: auto;
    height: 30px;
  }
}

@media only screen and (max-width: 769px) {
  .tembok-kiri{
    height: 120%;
  }
  .tembok-kanan{
    height: 100%;
  }
  .relative-ticket{
    width: 100vw;
  }
  .paper{
    width: 100%;
  }
  .title-welcome{
    font-size: 24px;
  }
  .subtitle-welcome{
    font-size: 12px;
  }
  .stamp-style{
    font-size: 40px;
  }
  .button-activity{
    font-size: 12px;
  }
  .help-text{
    font-size: 12px;
  }
  .text-anchor{
    font-size: 12px;
  }
  .stamp-A-done{
    width: 60px;
    height: 60px;
  }
  .stamp-done-style{
    margin-top: 10px;
    width: auto;
    height: 40px;
  }
}

@media only screen and (max-width: 550px) {
  .title-welcome{
    font-size: 20px;
  }
  .subtitle-welcome{
    margin-top: 0;
    font-size: 10px;
  }
  .stamp-style{
    margin-top: 0;
    font-size: 30px;
  }
  .button-activity{
    margin-top: 10px;
    font-size: 10px;
  }
  .help-text{
    font-size: 10px;
  }
  .text-anchor{
    font-size: 10px;
  }
  .stamp-A-done{
    width: 45px;
    height: 45px;
  }
  .stamp-done-style{
    margin-top: 8px;
    width: auto;
    height: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .title-welcome{
    font-size: 15px;
  }
  .subtitle-welcome{
    margin-top: 0;
    font-size: 8px;
  }
  .stamp-style{
    margin-top: 0;
    font-size: 24px;
  }
  .button-activity{
    margin-top: 8px;
    font-size: 8px;
  }
  .help-text{
    font-size: 7px;
  }
  .text-anchor{
    font-size: 7px;
  }
  .stamp-A-done{
    width: 32px;
    height: 32px;
  }
  .stamp-done-style{
    margin-top: 2px;
    width: auto;
    height: 27px;
  }
  .modal-content{
    font-size: 12px;
  }
}
@media only screen and (max-width: 321px) {
  .button-activity{
    margin-top: 0;
    padding-top:2px;
    padding-bottom: 2px;
  }
  .help-text{
    margin-top: 5px;
    font-size: 7px;
  }
  .text-anchor{
    margin-top: 3px;
    font-size: 7px;
  }
}